
:root { 
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --main-dark-color: #2E2F42;
    --succes-messages-color:#31D0AA; 
    --main-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --main-white-text-color: #ffffff;


}



body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* ====================COMPONENTS==========================*/

  .header-two {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.12;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--main-dark-color);
  }

.hiden-header {color: var(--main-white-text-color);}


 /* ====================/COMPONENTS==========================*/

 /*====================LOGO==========================*/ 


 
   .logo {text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.34;
     letter-spacing: 0.03em;
     color: var(--primary-brand-color);

 }

 .logo-secondarypart {
     color: var(--main-dark-color);

 }

 /* ====================/LOGO==========================*/


 /* ====================FOOTER==========================*/

 .footer {

     background: var(--main-dark-color);
 }


 .flogo-secondarypart {
     color: var(--light-mode-color);
 }

 .footer p {

     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--accent-color);
 }

 /* ====================/FOOTER==========================*/



       


/* ====================HEADER==========================*/


.header-desing {
    background: var(--main-white-text-color);
}


       .menu-link{

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-dark-color);}
        
     .menu-link:hover,  .menu-link:focus {
        color: var(--primary-brand-color);
    } 

      .contacts-bar, .contacts-bar { 
        
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
         color: var(--main-text-color);}

        
        .contacts-bar:hover, .contacts-bar:focus {
            color: var(--pressed-state-color); 
         }

/* ====================/HEADER==========================*/




/* ====================HERO==========================*/


.hero {background-color: var(--main-dark-color);}

 .hero-header {
    
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            color: var(--main-white-text-color);
        


         }

         .hero-button {
 
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: var(--main-white-text-color);
            background: var(--primary-brand-color);
            cursor: pointer;
            

         }

    .hero-button:hover, .hero-button:focus {
        var(--pressed-state-color);
    }
/* ====================/HERO==========================*/



         .principles h3, .team-list h3 {
            
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--main-dark-color);
            
         }

         .principles p, .team-list p {
        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
             color: var(--main-text-color);
            
         }


/* ==============__________PORTFOLIO PAGE_____________================= */


.light-button
    {
        color: var(--primary-brand-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--light-mode-color);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        cursor: pointer;
       }

.light-button:hover, .light-button:hover:focus {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        background-color: var(--pressed-state-color);
        color: var(--main-white-text-color); }


  .portfolio-examples h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-dark-color);
  }          

  .portfolio-examples p {
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);

  }
         
  
